.home{
    height: 1500px;
    background-color: #171616;
}
.home__container{
    height: 1500px;
}
.home__info{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
/*First Home Info Row*/
.home__info:nth-child(1){
    display: flex;
    align-items: center;
}
.home__info--header{
    color: white;
    font-family: var(--overpass);
    font-size: 42px;
    padding-bottom: 1rem;
    max-width: 700px;
}
.home__info--paragraph{
    color: white;
    font-family: var(--bai);
    font-size: 28px;
    line-height: 1.8;
    max-width: 700px;
    padding-bottom: 5rem;
}
.home__info--contact-link{
    padding: 25px;
    border-radius: 1rem;
    font-family: var(--bai);
    font-size: 22px;
    color: white;
    background-color: rebeccapurple;
}
/*Image Box next in Home Info*/
.home__info-row:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
.home__info--image{
    height: 500px;
    width: 700px;
    border-radius: 25px;
}
/*For Smaller Screens, Ex: Iphone*/
@media only screen and (max-width: 1800px){
    .home, .home__container{
        height: 2000px;
    }
    .home__container{
        display: flex;
        justify-content: center;
    }
    .home__info{
        flex-direction: column;
    }
    .home__info--paragraph{
        font-size: 20px;
        max-width: 500px;
    }
    .home__info--image{
        height: 400px;
        width: 600px;
    }
}
@media only screen and (max-width: 700px){
    .home__info--image{
        height: 300px;
        width: 90%;
    }
}
