body{
    background-color: #171616;
}

/*Hero*/
.hero{
    height: 200px;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-image: linear-gradient(to bottom, #171616, #1c1c1c);
}
.hero__banner-container{
    display: flex;
    height: 200px;
}
.hero__banner{
    display: flex;
    align-items: center;
}
.hero--banner-image{
    width: 300px;
    margin-left: 5rem;
}

/*Terms of Service*/
.privacy-policy{
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: fit-content;
}
.privacy-policy__container{
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: 75%;
    margin: 0 auto;
    border-radius: 5rem;
    padding: 50px;

    background-color: #1c1c1c;!important;
    color: white;

    /*Shadow*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.privacy-policy__header{
    font-family: var(--overpass);
    font-size: 36px;
}
/*Text Under Header*/
.privacy-policy__header .privacy-policy--paragraph{
    margin-bottom: 2rem;
}
.privacy-policy--paragraph{
    font-family: var(--bai);
    font-size: 24px;
    line-height: 1.8;
    max-width: 90%;
}
.privacy-policy--list{
    list-style-type: circle;
    font-family: var(--bai);
    font-size: 24px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
/*Header before every paragraph*/
.privacy-policy--header{
    font-family: var(--bai);
    font-size: 42px;
    padding-bottom: 2rem;
}